@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: rgb(243,0,255);
  background: linear-gradient(90deg, rgba(243,0,255,1) 0%, rgba(22,182,214,1) 100%);
}